<settings>
    <mirrors>
        <mirror>
            <id>maven-central</id>
            <name>Central Mirror Repository</name>
            <url>${repo.central.url}</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>

    <repositories>
        <repository>
            <id>maven-group</id>
            <url>${repo.pubic.url}</url>
        </repository>
    </repositories>

    <servers>
        <server>
            <id>maven-snapshots</id>
            <username>${repo.username}</username>
            <password>${repo.password}</password>
        </server>
        <server>
            <id>maven-releases</id>
            <username>${repo.username}</username>
            <password>${repo.password}</password>
        </server>
        <server>
            <id>maven-central</id>
            <username>${repo.username}</username>
            <password>${repo.password}</password>
        </server>
        <server>
            <id>maven-group</id>
            <username>${repo.username}</username>
            <password>${repo.password}</password>
        </server>
    </servers>
    
    <distributionManagement>
        <repository>
            <id>releases</id>
            <url>${repo.release.url}</url>
        </repository>
        <snapshotRepository>
            <id>snapshots</id>
            <url>${repo.snapshot.url}</url>
        </snapshotRepository>
    </distributionManagement>
</settings>
